pydata-sphinx-theme
Sphinx<=8.2.3
sphinx-notfound-page>=0.6
sphinxcontrib-images
sphinx-design
git+https://github.com/sphinx-contrib/youtube.git
sphinx-favicon>=1.0.1
sphinx-intl
sphinxcontrib-email
sphinx-last-updated-by-git
sphinxcontrib-bibtex